.SingleCampsiteIntro__name {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 5px;
}

.SingleCampsiteIntro__address {
  margin-bottom: 0;
  padding: 0 5px;
  background: ivory;
  border-top: 2px solid lightgreen;
}

.SingleCampsiteIntro__contact {
  margin-bottom: 0;
  padding: 0 5px;
  background: ivory;
}

.SingleCampsiteIntro__rating {
  padding: 0 5px;
  background: ivory;
  border-bottom: 2px solid lightgreen;
}

.SingleCampsiteIntro__photos {
  margin: auto auto;
  width: 20rem;
  height: 15rem;
  background-color: indigo;
}

.SingleCampsiteIntro__photos__photo {
  width: 20rem;
  height: 15rem;
}

.reviews__title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 5px;
  font-size: 1.5rem;
}

.review__body {
  margin-bottom: 0;
  padding: 0 5px;
  background: ivory;
  border-top: 2px solid lightgreen;
  font-size: 1rem;
}

.review__author {
  padding: 0 5px;
  background: ivory;
  border-bottom: 2px solid lightgreen;
  font-style: italic;
  font-size: 12px;
}

@media only screen and (min-width: 768px), (min-device-width: 780px) {
  .SingleCampsiteIntro__photos__photo {
    width: 30rem;
    height: 25rem;
  }
  .SingleCampsiteIntro__photos {
    margin: auto auto;
    width: 30rem;
    height: 25rem;
    background-color: indigo;
  }
  .SingleCampsiteIntro {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1080px), (min-device-width: 1080px) {
  .SingleCampsiteIntro__photos__photo {
    width: 40rem;
    height: 32rem;
  }
  .SingleCampsiteIntro__photos {
    margin: auto auto;
    width: 40rem;
    height: 32rem;
    background-color: indigo;
  }
}

@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .SingleCampsiteIntro__photos__photo {
    width: 55vh;
    height: 45vh;
  }
  .SingleCampsiteIntro__photos {
    margin: auto auto;
    width: 55vh;
    height: 45vh;
    background-color: indigo;
  }
}
