/* .SingleCampsiteIntro {
} */

.SingleCampsiteIntro__name {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 5px;
}

.SingleCampsiteIntro__address {
  margin-bottom: 0;
  padding: 0 5px;
  background: ivory;
  border-top: 2px solid lightgreen;
}

.SingleCampsiteIntro__contact {
  margin-bottom: 0;
  padding: 0 5px;
  background: ivory;
}

.SingleCampsiteIntro__rating {
  padding: 0 5px;
  background: ivory;
  border-bottom: 2px solid lightgreen;
}

.SingleCampsiteIntro__photos {
  margin: auto auto;
  width: 20rem;
  height: 15rem;
  background-color: indigo;
}

.SingleCampsiteIntro__photos__photo {
  width: 20rem;
  height: 15rem;
}

@media only screen and (min-width: 768px), (min-device-width: 780px) {
  .SingleCampsiteIntro__photos__photo {
    width: 30rem;
    height: 25rem;
  }
  .SingleCampsiteIntro__photos {
    margin: auto auto;
    width: 30rem;
    height: 25rem;
    background-color: indigo;
  }
  .SingleCampsiteIntro {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1080px), (min-device-width: 1080px) {
  .SingleCampsiteIntro__photos__photo {
    width: 40rem;
    height: 32rem;
  }
  .SingleCampsiteIntro__photos {
    margin: auto auto;
    width: 40rem;
    height: 32rem;
    background-color: indigo;
  }
}

@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .SingleCampsiteIntro {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .SingleCampsiteIntro__name {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  .SingleCampsiteIntro__photos {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .SingleCampsiteIntro__address {
    grid-row: 2;
    grid-column: 3;
  }

  .SingleCampsiteIntro__contact {
    grid-row: 2;
    grid-column: 3;
  }

  .SingleCampsiteIntro__rating {
    grid-row: 2;
    grid-column: 3;
  }
}
