.App__Header {
  padding: 10px;
  display: grid;
  /* position: sticky; */
  top: 0;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10vh 10vh;
  background-image: url("../../Images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App__HeaderTitle {
  grid-column: 1/2;
  grid-row: 1;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: top;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-weight: 800;
  color: white;
}

.App__HeaderProfilePic {
  grid-column: 2;
  grid-row: 2;
  height: 3rem;
  margin: auto;
  /* width: 100%; */
  /* border-radius: 50%; */
}

.header__welcome {
  grid-column: 2;
  grid-row: 1;
}

.login-container {
  grid-column: 2;
  grid-row: 1;
}

.App__HeaderTitle:visited .App__HeaderTitle:focus .App__HeaderTitle:active {
  text-decoration: none;
}
@media only screen and (min-width: 1080px), (min-device-width: 1080px) {
  .App__Header {
    background-image: url("../../Images/background.jpg");
    background-size: 100% 100%;
    grid-template-rows: 25vh;
  }
  .App__HeaderProfilePic {
    height: 60%;
  }
  .App__HeaderTitle {
    margin-top: 20px;
    font-size: 60px;
  }
}

@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .App__Header {
    background-image: url("../../Images/background.jpg");
    background-size: 100%;
  }
  .App__HeaderProfilePic {
    height: 60%;
  }
  .App__HeaderTitle {
    margin-top: 20px;
    font-size: 60px;
  }
}
