.App__Header {
  padding: 10px;
  display: grid;
  top: 0;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10vh 10vh;
  background-image: url("../../Images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App__HeaderTitle {
  grid-column: 1/2;
  grid-row: 1;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  vertical-align: top;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-weight: 800;
  color: white;
  font-size: 1.6rem;
}

.App__HeaderProfilePic {
  grid-column: 2;
  grid-row: 2;
  height: 3rem;
  margin: auto;
}

.header__tentIcon {
  width: 32px;
  height: auto;
  position: absolute;
  margin-left: 10px;
}

.header__welcome {
  grid-column: 2;
  grid-row: 1;
}

.login-container {
  grid-column: 2;
  grid-row: 1;
}

.App__HeaderTitle:visited .App__HeaderTitle:focus .App__HeaderTitle:active {
  text-decoration: none;
}

@media only screen and (min-width: 370px), (min-device-width: 370px) {
  .App__HeaderTitle {
    font-size: 2rem;
  }
  .header__tentIcon {
    width: 37px;
    height: auto;
  }
}

@media only screen and (min-width: 428px), (min-device-width: 428px) {
  @media only screen and (min-width: 360px), (min-device-width: 360px) {
    .App__HeaderTitle {
      font-size: 2.5rem;
    }
    .header__tentIcon {
      width: 45px;
      height: auto;
    }
  }
  @media only screen and (min-width: 1080px), (min-device-width: 1080px) {
    .App__Header {
      background-image: url("../../Images/background.jpg");
      background-size: 100% 100%;
      grid-template-rows: 25vh;
    }
    .App__HeaderProfilePic {
      height: 60%;
    }
    .App__HeaderTitle {
      margin-top: 20px;
      font-size: 60px;
    }
    .header__tentIcon {
      width: 64px;
      height: auto;
      top: 5%;
    }
  }

  @media only screen and (min-width: 1380px), (min-device-width: 1380px) {
    .App__Header {
      background-image: url("../../Images/background.jpg");
      background-size: 100%;
    }
    .App__HeaderProfilePic {
      height: 60%;
    }
    .App__HeaderTitle {
      margin-top: 20px;
      font-size: 60px;
    }
  }
}
