.homepage-button {
padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
margin-top: 20px;
margin-left: 25%;
border:0.16em solid rgba(255,255,255,0);
border-radius:2em;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color: #348a09;
transition: all 0.2s;
}
.homepage-button:hover {
    border-color: rgb(50, 218, 8);
}