.login-container {
  position: fixed;
  right: 10px;
  z-index: 1;
  background-image: url("../../Images/sunny_forest.jpeg");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  border-radius: 10px;
  border: black 5px solid;
  height: auto;
  font-weight: bold;
}

.registration-form {
  justify-content: space-between;
}

input[type="text"] {
  border-radius: 4px;
  border: none;
}

input[type="password"] {
  border-radius: 4px;
  border: none;
}

input[type="text"]:focus {
  border: 3px solid #05410a;
}

input[type="password"]:focus {
  border: 3px solid #05410a;
}

.register-button {
  border: none;
  background-color: transparent;
  outline: none;
}
.userOrOwnerButton {
  border: none;
  background-color: transparent;
  outline: none;
}

.logout-button {
  border: none;
  background-color: transparent;
  outline: none;
}

.login-form-container {
  padding-right: 10px;
  padding-left: 10px;
}

.header__welcome {
  z-index: 1;
  color: white;
}

.createProfile-button {
  margin-bottom: 10px;
}

.header__login-button-image {
  width: 30px;
  height: auto;
  opacity: 0.5;
}

.header__login-button {
}

.firstname {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}
