.login-container {
  position: fixed;
  right: 10px;
  z-index: 1;
  background-color: rgb(177, 189, 184);
  text-align: right;
  border-radius: 6px;
  height: auto;
}

/* .registration-form {
  justify-content: space-between;
} */

input[type="text"] {
  border-radius: 4px;
}

input[type="password"] {
  border-radius: 4px;
}

.form-error {
  color: rgb(122, 1, 1);
  font-size: 8px;
}

.register-button {
  border: none;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
}
.userOrOwnerButton {
  border: none;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
}

.logout-button {
  border: none;
  background-color: transparent;
  outline: none;
}

.login-form-container {
  padding-right: 10px;
  padding-left: 10px;
}

.header__welcome {
  z-index: 1;
  color: white;
}

.createProfile-button {
  margin-bottom: 10px;
}

.header__login-button-image {
  width: 30px;
  height: auto;
  opacity: 0.5;
}

.header__login-button {
}
