.App {
  text-align: center;
}

.goose-marker {
  width: 30px;
  height: auto;
  position: relative;
  top: -15px;
  left: -15px;
}

* {
  scroll-behavior: smooth;
}

.Main {
  margin: auto;
  display: grid;
  grid-template-rows: 20vh 80vh;
}
.App__Header {
  grid-row: 1;
}
.campsitepage__CampsitesSearchANDResults {
  grid-row: 2;
  margin-top: 20px;
}

@media only screen and (min-width: 1080px), (min-device-width: 1080px) {
  .Main {
    width: 100%;
    display: grid;
    grid-template-rows: 25vh 75vh;
  }
  .App__Header {
    grid-row: 1;
  }
  .campsitepage__CampsitesSearchANDResults {
    grid-row: 2;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .Main {
    width: 100%;
    display: grid;
    grid-template-rows: 25vh 75vh;
    /* grid-template-rows: auto; */
    /* grid-template-areas:
      "header header"
      "map" "campsiteList"; */
  }
  .App__Header {
    grid-row: 1;
  }
  .campsitepage__CampsitesSearchANDResults {
    grid-row: 2;
    margin-top: 20px;
  }
}
