.campsitepage__CampsitesSearchANDResults {
  display: grid;
  grid-template-rows: 20vh 34vh 32vh;
}

.CampsitesSearchANDResults__search {
  grid-row: 1;
}

.CampsitesSearchANDResults__map {
  grid-row: 2;
}

.CampsitesSearchANDResults__list {
  grid-row: 3;
  overflow-y: scroll;
}

@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .campsitepage__CampsitesSearchANDResults {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75vh;
  }
  .CampsitesSearchANDResults__map {
    grid-column: 1;
    grid-row: 1;
  }
  .CampsitesSearchANDResults__list {
    margin-top: 10px;
    grid-column: 2;
    grid-row: 1;
    overflow-y: scroll;
  }
  .CampsitesSearchANDResults__search {
    /* grid-row: 1; */
    /* z-index: 1000; */
    position: relative;
    top: -150px;
    grid-column: 1;
    width: 60%;
  }
}
