.mapblock {
  height: 30vh;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .mapblock {
    height: 68vh;
    width: auto;
    margin: 10px;
  }
}
