.SearchBar__Input {
  padding: 20px 20px;
}

.SearchBar__label {
  font-size: 20px;
  width: 100%;
  text-align: left;
  font-weight: 600;
  color: white;
}

.SearchBar {
  background: none;
}

.label__input {
  background-color: pink;
}
@media only screen and (min-width: 768px), (min-device-width: 768px) {
  .SearchBar {
    width: 60%;
  }
}

@media only screen and (min-width: 1080px), (min-device-width: 1080px) {
  .SearchBar {
    background: none;
    width: 60%;
  }
  .SearchBar__label {
    text-align: left;
  }
}

@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .SearchBar {
    background: none;
    width: 150%;
  }
  .SearchBar__label {
    text-align: left;
  }
}
