.poiBoard {
  height: auto;
  padding: 0px 10px;
  margin-top: 10px;
  display: grid;
  grid-template: auto auto auto;
  grid-template-areas:
    "pubCard"
    "supermarketCard"
    "cafeCard";
}

.nearestPubCard {
  background-color: rgba(19, 94, 22, 0.8);
  color: white;
  grid-area: pubCard;
  border: solid white 2px;
  display: grid;
  grid-template: 50% 50% / 34% 25% 41%;
  grid-template-areas:
    "pic name name"
    "pic distance walking-time";
}

.nearestSupermarketCard {
  background-color: rgba(19, 94, 22, 0.8);
  color: white;
  grid-area: supermarketCard;
  border: solid white 2px;
  display: grid;
  grid-template: 50% 50% / 34% 25% 41%;
  grid-template-areas:
    "pic name name"
    "pic distance walking-time";
}

.nearestCafeCard {
  background-color: rgba(19, 94, 22, 0.8);

  color: white;
  grid-area: cafeCard;
  border: solid white 2px;
  display: grid;
  grid-template: 50% 50% / 34% 25% 41%;
  grid-template-areas:
    "pic name name"
    "pic distance walking-time";
}

.nearestIcon {
  grid-area: pic;
}

.name {
  grid-area: name;
  font-weight: 600;
  text-align: center;
  margin: auto auto;
  font-size: 1.2rem;
  line-height: 1em;
}

.distance {
  grid-area: distance;
  margin: auto auto;
  font-size: 15px;
  display: inline;
}

.walking-time {
  grid-area: walking-time;
  margin: auto auto;
  font-size: 15px;
}

@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .poiBoard {
    display: grid;
    grid-template-rows: 18vh 18vh 18vh;
  }
  .nearestPubCard {
    grid-row: 1;
  }

  .nearestSupermarketCard {
    grid-row: 2;
  }

  .nearestCafeCard {
    grid-row: 3;
  }
}
