.poiBoard {
  height: auto;
  padding: 0px 10px;
  margin-top: 10px;
  display: grid;
  grid-template: auto auto auto;
  grid-template-areas:
    "pubCard"
    "supermarketCard"
    "cafeCard";
}

.nearestPubCard {
  background-color: rgba(16, 68, 0, 0.884);
  color: white;
  grid-area: pubCard;
  border: solid white 2px;
  display: grid;
  grid-template: 50% 50% / 34% 25% 41%;
  grid-template-areas:
    "pubpic pubname pubname"
    "pubpic pubdistance pubwalking-time";
}

.nearestPubIcon {
  grid-area: pubpic;
  width: 100px;
  height: auto;
  padding: 10px;
}

.Pubname {
  grid-area: pubname;
  font-weight: 600;
  text-align: center;
  margin: auto auto;
  font-size: 1.2rem;
  line-height: 1em;
}

.Pubdistance {
  grid-area: pubdistance;
  margin: auto auto;
  font-size: 15px;
  display: inline;
}

.Pubwalking-time {
  grid-area: pubwalking-time;
  margin: auto auto;
  font-size: 15px;
}

.nearestSupermarketCard {
  background-color: rgba(16, 68, 0, 0.884);
  color: white;
  grid-area: supermarketCard;
  border: solid white 2px;
  display: grid;
  grid-template: 50% 50% / 34% 25% 41%;
  grid-template-areas:
    "Supermarketpic Supermarketname Supermarketname"
    "Supermarketpic Supermarketdistance Supermarketwalking-time";
}

.nearestSupermarketIcon {
  grid-area: Supermarketpic;
  width: 100px;
  height: auto;
  padding: 10px;
}

.Supermarketname {
  grid-area: Supermarketname;
  font-weight: 600;
  text-align: center;
  margin: auto auto;
  font-size: 1.2rem;
  line-height: 1em;
}

.Supermarketdistance {
  grid-area: Supermarketdistance;
  margin: auto auto;
  font-size: 15px;
  display: inline;
}

.Supermarketwalking-time {
  grid-area: Supermarketwalking-time;
  margin: auto auto;
  font-size: 15px;
}

.nearestCafeCard {
  background-color: rgba(16, 68, 0, 0.884);

  color: white;
  grid-area: cafeCard;
  border: solid white 2px;
  display: grid;
  grid-template: 50% 50% / 34% 25% 41%;
  grid-template-areas:
    "Cafepic Cafename Cafename"
    "Cafepic Cafedistance Cafewalking-time";
}

.nearestCafeIcon {
  grid-area: Cafepic;
  width: 100px;
  height: auto;
  padding: 10px;
}

.Cafename {
  grid-area: Cafename;
  font-weight: 600;
  text-align: center;
  margin: auto auto;
  font-size: 1.2rem;
  line-height: 1em;
}

.Cafedistance {
  grid-area: Cafedistance;
  margin: auto auto;
  font-size: 15px;
  display: inline;
}

.Cafewalking-time {
  grid-area: Cafewalking-time;
  margin: auto auto;
  font-size: 15px;
}

@media only screen and (min-width: 1080px), (min-device-width: 1080px) {
  .name {
    font-size: 26px;
  }
  .distance {
    font-size: 20px;
  }
  .walking-time {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .poiBoard {
    display: grid;
    grid-template-rows: 18vh 18vh 18vh;
  }
  .nearestPubCard {
    grid-row: 1;
  }

  .nearestSupermarketCard {
    grid-row: 2;
  }

  .nearestCafeCard {
    grid-row: 3;
  }
  .name {
    font-size: 28px;
  }
  .distance {
    font-size: 22px;
  }
  .walking-time {
    font-size: 22px;
  }
  .nearestIcon {
    width: 100px;
    margin: 15px;
    padding: 0;
  }
}
